@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg: #014d54;
  --primary: #013769;
  --primary-border: #1bcef5;
  --warning: #e8bd0f;
  --success: #028b02;
  --error: #aa3c31;
  --dashboard-primary: #31694e;
  --dashboard-primary-bg: #254e3a;
  --dashboard-border: #bbc863;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-inner-padding .rt-BaseMenuViewport {
  padding: 0 !important;
}

.recharts-wrapper :focus:not(:focus-visible) {
  outline: none;
}
/* 
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary, #013769);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #002b52;
} */

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gm-style-iw-c {
  /* background-color: rgba(0, 0, 0, 0) !important; */
  padding: 0px !important;
  border-radius: 0px !important;
}

.gm-style .gm-style-iw-tc::after {
  display: none !important;
}

.gm-style-iw-c button {
  display: none !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-ch {
  padding: 0px !important;
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 250px;
}

.combobox-input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 4px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.4s ease-out backwards;
}
