.radix-themes {
  --default-font-family: var(--font-plus-jakarta-sans) !important;
}

.dark,
.dark-theme {
  --teal-1: #0b1314;
  --teal-2: #0e1a1c;
  --teal-3: #072c2f;
  --teal-4: #00393f;
  --teal-5: #00464d;
  --teal-6: #03555c;
  --teal-7: #11676f;
  --teal-8: #127d87;
  --teal-9: #06626a;
  --teal-10: #005259;
  --teal-11: #72cdd7;
  --teal-12: #b9f4fb;

  --teal-a1: #0091d104;
  --teal-a2: #00d1fb0c;
  --teal-a3: #00e2f921;
  --teal-a4: #00ddfc32;
  --teal-a5: #00e1fd41;
  --teal-a6: #00e7fd51;
  --teal-a7: #11ebff65;
  --teal-a8: #13e9fd7f;
  --teal-a9: #00e8fd60;
  --teal-a10: #00e6fd4e;
  --teal-a11: #85f2fed5;
  --teal-a12: #bcf8fffb;

  --teal-contrast: #fff;
  --teal-surface: #0c232780;
  --teal-indicator: #06626a;
  --teal-track: #06626a;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --teal-1: oklch(17.8% 0.012 204.8);
      --teal-2: oklch(20.9% 0.0179 204.8);
      --teal-3: oklch(26.8% 0.0405 204.8);
      --teal-4: oklch(31.3% 0.0601 204.8);
      --teal-5: oklch(35.9% 0.0658 204.8);
      --teal-6: oklch(41% 0.0691 204.8);
      --teal-7: oklch(47.1% 0.0758 204.8);
      --teal-8: oklch(54% 0.0885 204.8);
      --teal-9: oklch(45.3% 0.0758 204.8);
      --teal-10: oklch(39.9% 0.0691 204.8);
      --teal-11: oklch(79.5% 0.0885 204.8);
      --teal-12: oklch(92.9% 0.0598 204.8);

      --teal-a1: color(display-p3 0 0.6706 0.9725 / 0.013);
      --teal-a2: color(display-p3 0.0667 0.8196 0.9882 / 0.047);
      --teal-a3: color(display-p3 0.102 0.9059 1 / 0.122);
      --teal-a4: color(display-p3 0.1529 0.8745 0.9961 / 0.19);
      --teal-a5: color(display-p3 0.2275 0.8902 1 / 0.248);
      --teal-a6: color(display-p3 0.2941 0.9137 1 / 0.311);
      --teal-a7: color(display-p3 0.3686 0.9098 1 / 0.391);
      --teal-a8: color(display-p3 0.3882 0.9176 1 / 0.488);
      --teal-a9: color(display-p3 0.3333 0.9059 1 / 0.37);
      --teal-a10: color(display-p3 0.2784 0.9098 1 / 0.299);
      --teal-a11: color(display-p3 0.6353 0.9529 1 / 0.824);
      --teal-a12: color(display-p3 0.7882 0.9686 1 / 0.979);

      --teal-contrast: #fff;
      --teal-surface: color(display-p3 0.0627 0.1333 0.149 / 0.5);
      --teal-indicator: oklch(45.3% 0.0758 204.8);
      --teal-track: oklch(45.3% 0.0758 204.8);
    }
  }
}

:root,
.light,
.light-theme {
  --red-1: #fffcfc;
  --red-2: #fff8f6;
  --red-3: #feece9;
  --red-4: #ffddd6;
  --red-5: #ffcfc6;
  --red-6: #fcbfb5;
  --red-7: #f3aba0;
  --red-8: #ea9184;
  --red-9: #af0404;
  --red-10: #9d0000;
  --red-11: #cc3126;
  --red-12: #641a14;

  --red-a1: #ff000003;
  --red-a2: #ff390009;
  --red-a3: #f4230016;
  --red-a4: #ff2c0029;
  --red-a5: #ff290039;
  --red-a6: #f523014a;
  --red-a7: #df1e005f;
  --red-a8: #d41b017b;
  --red-a9: #ae0000fb;
  --red-a10: #9d0000;
  --red-a11: #c30d00d9;
  --red-a12: #570700eb;

  --red-contrast: #fff;
  --red-surface: #fff6f4cc;
  --red-indicator: #af0404;
  --red-track: #af0404;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --red-1: oklch(99.4% 0.003 29);
      --red-2: oklch(98.3% 0.0081 29);
      --red-3: oklch(95.6% 0.0205 29);
      --red-4: oklch(92.8% 0.0457 29);
      --red-5: oklch(89.6% 0.0599 29);
      --red-6: oklch(85.7% 0.0721 29);
      --red-7: oklch(80.7% 0.0865 29);
      --red-8: oklch(74.5% 0.1095 29);
      --red-9: oklch(47.5% 0.1929 29);
      --red-10: oklch(42.3% 0.1929 29);
      --red-11: oklch(55.7% 0.1929 29);
      --red-12: oklch(33.9% 0.1064 29);

      --red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
      --red-a2: color(display-p3 0.8941 0.2392 0.0235 / 0.036);
      --red-a3: color(display-p3 0.8118 0.1529 0.0078 / 0.083);
      --red-a4: color(display-p3 0.851 0.1765 0.0039 / 0.157);
      --red-a5: color(display-p3 0.8549 0.1686 0.0039 / 0.216);
      --red-a6: color(display-p3 0.8353 0.1412 0.0039 / 0.283);
      --red-a7: color(display-p3 0.7529 0.1216 0.0039 / 0.361);
      --red-a8: color(display-p3 0.7255 0.1098 0.0039 / 0.467);
      --red-a9: color(display-p3 0.5922 0.0431 0 / 0.91);
      --red-a10: color(display-p3 0.5333 0.0431 0 / 0.934);
      --red-a11: color(display-p3 0.6745 0.0667 0 / 0.808);
      --red-a12: color(display-p3 0.2941 0.0353 0 / 0.906);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9961 0.9647 0.9569 / 0.8);
      --red-indicator: oklch(47.5% 0.1929 29);
      --red-track: oklch(47.5% 0.1929 29);
    }
  }
}

:root,
.light,
.light-theme {
  --blue-1: #fbfdff;
  --blue-2: #f3f9ff;
  --blue-3: #e6f3ff;
  --blue-4: #d7ecff;
  --blue-5: #c6e2ff;
  --blue-6: #b0d4ff;
  --blue-7: #93c2ff;
  --blue-8: #6aa8ff;
  --blue-9: #013786;
  --blue-10: #174a9b;
  --blue-11: #2b6eda;
  --blue-12: #002c7a;

  --blue-a1: #0080ff04;
  --blue-a2: #0080ff0c;
  --blue-a3: #0085ff19;
  --blue-a4: #0086ff28;
  --blue-a5: #007eff39;
  --blue-a6: #0075ff4f;
  --blue-a7: #006fff6c;
  --blue-a8: #006aff95;
  --blue-a9: #003686fe;
  --blue-a10: #003891e8;
  --blue-a11: #0051d3d4;
  --blue-a12: #002c7a;

  --blue-contrast: #fff;
  --blue-surface: #f0f8ffcc;
  --blue-indicator: #013786;
  --blue-track: #013786;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --blue-1: oklch(99.3% 0.0049 259.6);
      --blue-2: oklch(98.2% 0.0141 259.6);
      --blue-3: oklch(96% 0.0293 259.6);
      --blue-4: oklch(93.7% 0.0547 259.6);
      --blue-5: oklch(90.6% 0.0789 259.6);
      --blue-6: oklch(86.4% 0.1012 259.6);
      --blue-7: oklch(80.9% 0.1305 259.6);
      --blue-8: oklch(73.5% 0.1787 259.6);
      --blue-9: oklch(36.1% 0.1424 259.6);
      --blue-10: oklch(42.6% 0.1424 259.6);
      --blue-11: oklch(55.8% 0.1787 259.6);
      --blue-12: oklch(32.4% 0.1424 259.6);

      --blue-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
      --blue-a2: color(display-p3 0.0196 0.4667 0.9137 / 0.044);
      --blue-a3: color(display-p3 0.0118 0.4863 0.9608 / 0.091);
      --blue-a4: color(display-p3 0.0078 0.451 0.9451 / 0.142);
      --blue-a5: color(display-p3 0.0039 0.4235 0.9451 / 0.204);
      --blue-a6: color(display-p3 0.0039 0.3922 0.9451 / 0.283);
      --blue-a7: color(display-p3 0.0039 0.3686 0.949 / 0.385);
      --blue-a8: color(display-p3 0 0.3412 0.949 / 0.53);
      --blue-a9: color(display-p3 0 0.1451 0.4627 / 0.922);
      --blue-a10: color(display-p3 0 0.1608 0.5176 / 0.851);
      --blue-a11: color(display-p3 0 0.2431 0.7725 / 0.757);
      --blue-a12: color(display-p3 0 0.1216 0.4275 / 0.946);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9529 0.9725 1 / 0.8);
      --blue-indicator: oklch(36.1% 0.1424 259.6);
      --blue-track: oklch(36.1% 0.1424 259.6);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #efefef;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #00000010;
  --gray-a4: #00000017;
  --gray-a5: #0000001f;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000072;
  --gray-a10: #0000007c;
  --gray-a11: #0000009b;
  --gray-a12: #000000df;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8d8d8d;
  --gray-track: #8d8d8d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.1% 0 none);
      --gray-2: oklch(98.1% 0 none);
      --gray-3: oklch(95.4% 0 none);
      --gray-4: oklch(93% 0 none);
      --gray-5: oklch(90.8% 0 none);
      --gray-6: oklch(88.4% 0 none);
      --gray-7: oklch(85.1% 0 none);
      --gray-8: oklch(79.1% 0 none);
      --gray-9: oklch(64.3% 0 none);
      --gray-10: oklch(60.8% 0 none);
      --gray-11: oklch(50.3% 0 none);
      --gray-12: oklch(24.3% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0.0118);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0627);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1216);
      --gray-a6: color(display-p3 0 0 0 / 0.149);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.4471);
      --gray-a10: color(display-p3 0 0 0 / 0.4863);
      --gray-a11: color(display-p3 0 0 0 / 0.6078);
      --gray-a12: color(display-p3 0 0 0 / 0.8745);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.3% 0 none);
      --gray-track: oklch(64.3% 0 none);
    }
  }
}
