.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-top: 10px;
  z-index: 5;
}

.dropdownContent a {
  color: #424242;
  padding: 6px 16px;
  height: 35px;
  text-decoration: none;
  display: block;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.dropdown a:hover {
  background-color: rgba(218, 242, 255, 0.65);
  /* transform: translateX(-10px); */
}

.dropdownContent button {
  color: #424242;
  padding: 6px 16px;
  height: 35px;
  text-decoration: none;
  display: block;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.dropdown button:hover {
  background-color: rgba(218, 242, 255, 0.65);
  /* transform: translateX(-10px); */
}

.show {
  display: block;
}

/* for download button */
/* .dropdownContent button {
  color: #424242;
  padding: 6px 16px;
  height: 35px;
  text-decoration: none;
  display: block;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.dropdown button:hover {
  background-color: rgba(218, 242, 255, 0.65);
  transform: translateX(-10px);
} */
